<header>
  <h1>{{appTitle }}</h1>

  <nav>
    <ul>
      <li *ngFor="let option of options"> 
        {{ option }}
      </li>
    </ul>
  </nav>
  <input type="text" [(ngModel)]="option"> <!-- on lie le champ de l'input à l'attribut option du .ts-->
  <button 
  type="button" 
  (click)="addOption()"
  [disabled]="checkOption()" 
  > 
  <!-- on est à l'écoute du click et si on l'entend on lance la méthode "addOption()" -->
  <!-- si "checkOption()" renvoi vrai alors le button est désactivé -->
    Ajouter
    <!-- Le bouton porte le nom de "Ajouter" -->
  </button>

</header>


<router-outlet></router-outlet>

<footer>

</footer>